{% extends 'web/base.html' %}
{% load static %}
{% block content %}


        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <div class="breadcrumb-area breadcrumb-bg t-breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="dots"></li>
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">News & Media</li>
                                        <li class="dots2"></li>
                                    </ol>
                                </nav>
                                <h2>Ocean Shipping Lines Word Relationship</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- blog-area -->
            <section class="blog-area pt-50 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="single-blog-post blog-classic-post">
                                <div class="blog-thumb mb-35">
                                    <img src="{% static 'web/img/blog/t_blog_thumb01.jpg' %}" alt="img">
                                </div>
                                <div class="blog-content blog-details-content">
                                    <div class="blog-details-date mb-10">
                                        <ul>
                                            <li><a href="#"><i class="far fa-user"></i>Admin</a></li>
                                            <li><i class="far fa-clock"></i> February 22, 2019</li>
                                        </ul>
                                    </div>
                                    <h4>Ocean Shipping Lines Word Relationship</h4>
                                    <p>Express dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae condimem egestliberos
                                        dolor auctor
                                        tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo efficitur, trist ligula
                                        pellentesque
                                        ipsum. Quisque thsr augue ipsum, vehicula tellus maximus. Was popularised in the 1960s withs the release of
                                        Letraset
                                        sheets containing Lorem Ipsum passags, and more recently with desktop publishing software like Aldus
                                        PageMaker including
                                        versions.</p>
                                    <p>Rxpress dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae condimem egestlibers
                                        dolosr auctor
                                        tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo efficitur, trist ligula
                                        pellentesque
                                        ipsum. Quisque thsr augue ipsum, vehicula tellus maximus.</p>
                                    <blockquote>
                                        Elementum pretiumi Nullam justo efficitur trist ligula pellentesqe ipsum quisque augue psum vehicula tellus
                                        tellus vitae
                                        condimem maximus.
                                    </blockquote>
                                    <p>Vehicula dolor amet consectetur adipiscing elit. Cras sollicitudin, tellus vitae condimem egestliberos dolor
                                        auctor
                                        tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo efficitur, trist ligula
                                        pellentesque
                                        ipsum. Quisque thsr augue ipsum, vehicula tellus maximus.</p>
                                    <div class="blog-details-img">
                                        <img src="{% static 'web/img/blog/blog_details_img01.jpg' %}" alt="img">
                                        <img src="{% static 'web/img/blog/blog_details_img02.jpg' %}" alt="img">
                                    </div>
                                    <p>Express dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae condimem egestliberos
                                        dolor auctor
                                        tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo efficitur, trist ligula
                                        pellentesque
                                        ipsum. Quisque thsr augue ipsum, vehicula tellus maximus. Was popularised in the 1960s withs the release of
                                        Letraset
                                        sheets containing Lorem Ipsum passags, and more recently with desktop publishing software like Aldus
                                        PageMaker including
                                        versions.</p>
                                    <p>Vehicula dolor amet consectetur adipiscing elit. Cras sollicitudin, tellus vitae condimem egestliberos dolor
                                        auctor
                                        tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo efficitur, trist ligula
                                        pellentesque
                                        ipsum. Quisque thsr augue ipsum, vehicula tellus maximus.</p>
                                    <div class="blog-classic-meta">
                                        <ul>
                                            <li class="blog-post-date">
                                                <div class="blog-details-tag">
                                                    <i class="fas fa-tags"></i>
                                                    <a href="#">Warehouse</a>
                                                    <a href="#">Ocean</a>
                                                    <a href="#">Freight</a>
                                                    <a href="#">Railway</a>
                                                </div>
                                            </li>
                                            <li class="blog-post-share">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="avatar-post mt-70 mb-60">
                                    <ul>
                                        <li>
                                            <div class="post-avatar-img">
                                                <img src="{% static 'web/img/blog/post_avatar_img.png" alt="img">
                                            </div>
                                            <div class="post-avatar-content">
                                                <h5>Thomas Herlihy</h5>
                                                <p>Vehicula dolor amet consectetur adipiscing elit. Cras sollicitudin, tellus vitae condimem
                                                    egestliberos dolor auctor
                                                    tellus.</p>
                                                <div class="post-avatar-social mt-15">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="blog-next-prev">
                                    <ul>
                                        <li class="blog-prev">
                                            <a href="#"><img src="{% static 'web/img/icon/left_arrow.png" alt="img">Previous Post</a>
                                        </li>
                                        <li class="blog-next">
                                            <a href="#">Next Post<img src="{% static 'web/img/icon/right_arrow.png" alt="img"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="blog-comment mt-85">
                                    <h4 class="b-details-inner-title">Comments</h4>
                                    <ul>
                                        <li>
                                            <div class="single-comment">
                                                <div class="comment-avatar-img">
                                                    <img src="{% static 'web/img/blog/comment_avatar01.jpg' %}" alt="img">
                                                </div>
                                                <div class="comment-text">
                                                    <div class="comment-avatar-info">
                                                        <h5>Thomas Herlihy <span class="comment-date">November 17, 2019</span></h5>
                                                        <a href="#" class="comment-reply-link">Leave Reply</a>
                                                    </div>
                                                    <p>Vehicula dolor amet consectetur adipiscing elit. Cras sollicitudin, tellus vitae condimem
                                                        egestliberos dolor auctor
                                                        tellus.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="comment-reply">
                                            <div class="single-comment">
                                                <div class="comment-avatar-img">
                                                    <img src="{% static 'web/img/blog/comment_avatar02.jpg' %}" alt="img">
                                                </div>
                                                <div class="comment-text">
                                                    <div class="comment-avatar-info">
                                                        <h5>Thomas Herlihy <span class="comment-date">November 17, 2019</span></h5>
                                                        <a href="#" class="comment-reply-link">Leave Reply</a>
                                                    </div>
                                                    <p>Vehicula dolor amet consectetur adipiscing elit. Cras sollicitudin, tellus vitae condimem
                                                        egestliberos dolor auctor
                                                        tellus.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comment-reply-box mt-85">
                                    <h4 class="b-details-inner-title">Post a Comment</h4>
                                    <form action="#" class="comment-form">
                                        <textarea name="message" id="comment-message" placeholder="Your Comment"></textarea>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" placeholder="Your Name*">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="email" placeholder="Your Email*">
                                            </div>
                                        </div>
                                        <button class="btn red-btn">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <aside class="s-blog-sidebar">
                                <div class="widget mb-40">
                                    <div class="single-sidebar search-sidebar-md">
                                        <div class="sidebar-title mb-25">
                                            <h3>Search</h3>
                                        </div>
                                        <div class="sidebar-form">
                                            <form action="#">
                                                <input type="text" placeholder="Search type...">
                                                <button><i class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget mb-40">
                                    <div class="single-sidebar white-bg">
                                        <div class="sidebar-title mb-25">
                                            <h3>Post Category</h3>
                                        </div>
                                        <div class="cat-list">
                                            <ul>
                                                <li><a href="#">Retail &amp; Consumer <span>(14)</span></a></li>
                                                <li><a href="#">Sciences &amp; Healthcare <span>(09)</span></a></li>
                                                <li><a href="#">Ocean Freight <span>(03)</span></a></li>
                                                <li><a href="#">Electricity Freight <span>(02)</span></a></li>
                                                <li><a href="#">Transportation <span>(07)</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget mb-40">
                                    <div class="single-sidebar white-bg">
                                        <div class="sidebar-title mb-25">
                                            <h3>Recent Posts</h3>
                                        </div>
                                        <div class="rc-post">
                                            <ul>
                                                <li>
                                                    <div class="rc-post-thumb">
                                                        <a href="#"><img src="{% static 'web/img/blog/rc_post_thumb01.jpg' %}" alt="img"></a>
                                                    </div>
                                                    <div class="rc-post-content">
                                                        <h5><a href="#">Express Manegment Effective</a></h5>
                                                        <span>November 22, 2019</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="rc-post-thumb">
                                                        <a href="#"><img src="{% static 'web/img/blog/rc_post_thumb02.jpg' %}" alt="img"></a>
                                                    </div>
                                                    <div class="rc-post-content">
                                                        <h5><a href="#">Customer Logisties Process Overall</a></h5>
                                                        <span>November 22, 2019</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="rc-post-thumb">
                                                        <a href="#"><img src="{% static 'web/img/blog/rc_post_thumb03.jpg' %}" alt="img"></a>
                                                    </div>
                                                    <div class="rc-post-content">
                                                        <h5><a href="#">Supply is warehouse Effective</a></h5>
                                                        <span>November 22, 2019</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget">
                                    <div class="single-sidebar white-bg">
                                        <div class="sidebar-title mb-25">
                                            <h3>Tags Posts</h3>
                                        </div>
                                        <div class="tag-list">
                                            <ul>
                                                <li><a href="#">Air Freight</a></li>
                                                <li><a href="#">Railway</a></li>
                                                <li><a href="#">News</a></li>
                                                <li><a href="#">Warehouse</a></li>
                                                <li><a href="#">Was</a></li>
                                                <li><a href="#">Logistic</a></li>
                                                <li><a href="#">Requirement</a></li>
                                                <li><a href="#">Process</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->

        </main>
        <!-- main-area-end -->


{%  endblock %}