{% extends 'web/base.html' %}
{% load static %}
{% block content %}


        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <div class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="dots"></li>
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">CONTACT US</li>
                                        <li class="dots2"></li>
                                    </ol>
                                </nav>
                                <h2 class="font-head">CONTACT US</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- support-area -->
            <div class="support-area support-bg pt-50 pb-50">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-10">
                            <div class="s-section-title text-center mb-60">
                                <h2>Get In Touch</h2>
                                <p>Express delivery is an innovative service is effective logistics solution for the delivery of small
                                    cargo. This service is useful for companies various.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="support-form text-center">
                                <form id="form" method="POST" class="ajax reload">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- <input type="text" placeholder="Your Name"> -->
                                            {{forms.name}}
                                        </div>
                                        <div class="col-md-6">
                                            <!-- <input type="text" placeholder="Your Email"> -->
                                            {{forms.email}}
                                        </div>
                                        <div class="col-md-6">
                                            <!-- <input type="text" placeholder="Your Phone"> -->
                                            {{forms.phone}}
                                        </div>
                                        <div class="col-md-6">
                                            <!-- <input type="text" placeholder="Subject"> -->
                                            {{forms.subject}}
                                        </div>
                                    </div>
                                    <!-- <textarea name="message" id="message" placeholder="Message"></textarea> -->
                                    {{forms.message}}
                                    <button class="btn red-btn">Submit Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- support-area-end -->

            <!-- contact-area -->
            <section class="contact-area primary-bg pt-50 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-contact-box">
                                <div class="contact-icon mb-30">
                                    <img src="{% static 'web/img/icon/location.png' %}" alt="img">
                                </div>
                                <div class="contact-content">
                                    <h5>Find Location</h5>
                                    <span>Empire plaza <br>
                                        Room 70 <br>
                                        Naif</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-contact-box mb-50">
                                <div class="contact-icon mb-30">
                                    <img src="{% static 'web/img/icon/contact_box_icon02[1].png' %}" alt="img">
                                </div>
                                <div class="contact-content">
                                    <h5>Phone Number</h5>
                                    <span>+91 0000000000</span>
                                    <span>+91 0000000000</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-contact-box mb-50">
                                <div class="contact-icon mb-30">
                                    <img src="{% static 'web/img/icon/contact_box_icon03[1].png' %}" alt="img">
                                </div>
                                <div class="contact-content">
                                    <h5>email informing</h5>
                                    <span><a href="" style="color: #333;">info@demo.gmail.com</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-contact-box mb-50">
                                <div class="contact-icon mb-30">
                                    <img src="{% static 'web/img/icon/contact_box_icon04[1].png' %}" alt="img">
                                </div>
                                <div class="contact-content">
                                    <h5>email informing</h5>
                                    <span>Empire plaza <br>
                                        Room 70 <br>
                                        Naif</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact-area-end -->

            <!-- contact-map -->
            <div class="pt-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3607.85780170468!2d55.3119339!3d25.2753685!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5428e792bef9f169!2zMjXCsDE2JzI5LjYiTiA1NcKwMTgnNDEuMCJF!5e0!3m2!1sen!2sin!4v1672910577558!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center my-1">
                            <img src="{% static 'web/img/icon/frame.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact-map-end -->

        </main>
        <!-- main-area-end -->

      
 

 {% endblock %}