{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Express Delivery</li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Express Delivery</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <section class="py-3">
        
    </section>

</main>
<!-- main-area-end -->


{% endblock %}