{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Air Freight</li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Air Freight</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- services-details -->
    <section class="services section-bg" id="services">
        <div class="container">
          <header class="section-header">
            <h3> Our Services</h3>
          </header>
      
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-briefcase service-icon" style="color: #c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Service 1</a></h4>
      
                <p class="description">Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
              </div>
            </div>
      
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-clipboard service-icon" style="color: #c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Service 2</a></h4>
      
                <p class="description">Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
              </div>
            </div>
      
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-chart-bar service-icon" style="color: #c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Service 3</a></h4>
      
                <p class="description">Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
              </div>
            </div>
      
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-binoculars service-icon" style="color: #c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Service 4</a></h4>
      
                <p class="description">Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
              </div>
            </div>
      
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-cog service-icon" style="color:#c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Service 5</a></h4>
      
                <p class="description">Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
              </div>
            </div>
      
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-calendar-alt service-icon" style="color: #c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Service 6</a></h4>
      
                <p class="description">Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
              </div>
            </div>
      
      
          </div>
        </div>
      </section>
    <!-- services-details-end -->


</main>
<!-- main-area-end -->


{% endblock %}