{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- services-details -->
    <section class="services section-bg" id="services">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-briefcase service-icon" style="color: #c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Air cargo</a></h4>
      
                <p class="description">Hi max delivers professional and exhaustive air cargo services earmarked to the secure, steadfast and cost effective delivery of your cargo.</p>
              </div>
            </div>
      
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-clipboard service-icon" style="color: #c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Sea cargo</a></h4>
      
                <p class="description">We strive to deliver a favourably cost-effective strategy for transporting a range of extensive, heavy or standard cargos.</p>
              </div>
            </div>
      
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-chart-bar service-icon" style="color: #c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Port to port service</a></h4>
      
                <p class="description">Our dedicated network of port to port services perform formidably to ensure timely customs clearance and delivery for your cargo every time.</p>
              </div>
            </div>
      
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-binoculars service-icon" style="color: #c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Moving service</a></h4>
      
                <p class="description">We are committed to delivering your cargo in the fastest time possible by sharing all our expertise and effort.</p>
              </div>
            </div>
      
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-cog service-icon" style="color:#c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Express delivery</a></h4>
      
                <p class="description">Cargo forwarding is our core competency, and we specialize in the movement of luxurious and general goods at the fastest time possible.</p>
              </div>
            </div>
      
            <!-- <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="icon" style="background: #000;">
                  <i class="fa fa-calendar-alt service-icon" style="color: #c59c35;"></i>
                </div>
      
                <h4 class="title"><a href="">Worldwide door to door cargo  service</a></h4>
      
                <p class="description">Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
              </div>
            </div> -->
      
      
          </div>
        </div>
      </section>
    <!-- services-details-end -->


</main>
<!-- main-area-end -->


{% endblock %}