
{% load static %}
  <!-- footer -->
  <footer>
    <div class="footer-wrap pt-20 pb-20" data-background="{% static 'web/img/bg/footer_bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="footer-widget mb-50">
                        <div class="footer-logo mb-35">
                            <a href="#"><img src="{% static 'web/img/logo/himax.png' %}" alt="img"></a>
                        </div>
                        <div class="footer-text">
                            <p>Orem Ipsum is simply dumm text the printing and types indstr sum has been the industry
                            </p>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 center-align">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-30">
                            <h5>USEFUL LINKS</h5>
                        </div>
                        <div class="fw-link">
                            <ul>
                                <li><a href="{% url 'web:about' %}"><i class="fas fa-caret-right"></i> About us</a></li>
                                <li><a href="{% url 'web:services' %}"><i class="fas fa-caret-right"></i> Services </a></li>
                                <li><a href="{% url 'web:gallery' %}"><i class="fas fa-caret-right"></i> Gallery </a></li>
                                <li><a href="{% url 'web:updates' %}"><i class="fas fa-caret-right"></i> Updates </a></li>
                                <li><a href="{% url 'web:contact' %}"><i class="fas fa-caret-right"></i> Contact </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-30">
                            <h5>Contact</h5>
                        </div>
                        <div class="f-support-content">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1 my-2 text-center">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 my-2">
                                    <a href="" style="color: #969696;">
                                        +91 0000000000
                                    </a>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1 my-2 text-center">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 my-2">
                                    <a href="" style="color: #969696;">
                                        info@demo.com
                                    </a>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11">
                                    <p>
                                        demo <br>
                                        demo <br>
                                        demo
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12" style="text-align: center;">
                    <div class="copyright-text">
                        <p>Copyright© <span>Himaxcargo </span> | All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-end -->